{% extends "layout.html" %}

{% block heading %}

  <meta charset="utf-8">
  <title></title>

{% endblock %}

{% block body %}
<br>
<br><br><br><br><br><br><br>
<center>
<h1>Ingreso de Autentificacion</h1>
<br>
<form action="http://localhost:5000/autentica" method="post">
  <table>
    <tr>
      <td><h3>Usuario</h3></td>
      <td><h3><input type="text" name="usuario" maxlength="10" autofocus required ="" placeholder="99999999-X"></h3></td>
    </tr>
    <tr>
      <td><h3>Clave</h3></td>
      <td><h3><input type="password" name="clave" required placeholder="Requerido"></h3> </td>
    </tr>
    <tr>
      <td><input type="submit" value="Enviar"></td>
    </tr>
  </table>
  </center>
</form>
{% endblock %}
